// bower:scss
@import 'bower_components/bootstrap/scss/bootstrap.scss';
// endbower
@import 'partial/_bg.img.scss';
@import 'partial/_noise.img.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext');

html {
  font-family: 'Open Sans', sans-serif;
}

body {

  color: #272727;

  font-size: 18px;
  line-height: 30px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;

  padding: 50px 50px 0 50px;
}

a {
  color: #272727;
  &:hover {
    color: #5aeab5
  }
}

::-moz-selection { background: #5aeab5; }
::selection { background: #5aeab5; }


span.bcg-link {
  color: #999999;
  &:hover {
    color: #272727;
    cursor: pointer;
  }
}

.main {
  
  margin: 0 50px;

  header {
    .logo {
      display: inline-block;
    }
    .email {
      display: inline-block;
      height: 66px;
      line-height: 66px;
    }
  }

  h1 {
    margin-top: 125px;
    margin-bottom: 120px;
    line-height: 42px;
    font-weight: normal;
  }

  .text {
    max-width: 455px;
    p {
      margin-bottom: 60px;
    }
  }

}

footer {

  .our-clients {
    margin-bottom: 2px;

    a {
      display: inline-block;
      margin-right: 35px;
      margin-bottom: 15px;
      
      &:hover {
        opacity: 0.5;
      }
    }

    p {
      margin-bottom: 20px;
    }

    img {
      opacity: 0.9;
      height: 45px;
      max-width: 125%;
    }

  }

  div {
    padding: 30px 50px;
    background-color: #5aeab5;
  }

  p, a  {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
      color: white;
    }
  }

}

.logo:hover svg path {
  fill: #5aeab5;
}

@media screen and (max-width: 320px) {
  body {
    padding: 15px;
  }
}

@media screen and (max-width: 640px) {
  .main {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {

  body.on-hover {

    .logo svg path{
      fill: white;
    }
    
    .text, header { 
      color: white;
      a, span {
        color: white;
        &:hover {
            color: #272727;
        }
      }

    }
    
    footer div {
      background-color: white;
    }

    #bg-container {
      opacity: 0.7;
    }

    #bg-container {
      display: block;
    }
    
    #bg-img {
      display: block;
    }
  }

}